.nav-tabs {
  border: none;
}

.nav-link, .nav-link.active {
  background-color: darkgray !important;
  color: white;
  font-weight: bold;
  border: none;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

.nav-link.active {
  border: 2px solid white !important;
}

.nav-link span {
  color: darkgray;
}

.nav-item {
  position: relative;
  cursor: pointer;
}

.tabText {
  position: absolute;
  top: 8px;
  left: 18px;
  color: white;
  font-weight: bold;
}
